{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Artist</title>
        <link rel="stylesheet" href="{% static 'music/style.css %'}"
    </head>

    <body>
        <h1>Add an Artist to our Database!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Artist</button>
        </form>
    </body>
</html>