body {
    background-color: #1e252c;
    width: 100%;
    height: 100%;
    text-align: center;
    color:white;
}

a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    color: rgb(24, 77, 77);
}

.recent-container {
    width: 100%;
    height: 100%;
}

.recent-song-container {
    width: 100%;
    height: 100%;
}

.recent-song {
    width: 100%;
    height: 100%;
    border: solid rgb(62, 64, 66) 1px;
    border-radius: 20px;
}

.recent-song img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.recent-song:hover {
    color: rgb(24, 77, 77);
}

.artist-link {
    color:white;
    width: 200px;
    height: 50px;
    border: solid black 1px;
    border-radius: 10px;
    background-color: #27568d;
    margin: 0 auto;
    margin-top: 250px;
    padding-top: 30px;
}

.song-container {
    width:60%;
    height: 1000px;
    margin: 0 auto;
    background-color: white;
    border: solid black 1px;
    border-radius: 20px;
    margin-top: 50px;
    color: black;
}

.top-container {
    width:60%;
    height: 50px;
    margin: 0 auto;
    background-color: white;
    border: solid black 1px;
    border-radius: 20px;
    margin-top: 50px;
    color: black;
    padding-top:20px;
}