{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ artist }}</title>
        <link rel="stylesheet" href="{% static 'songs/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    </head>

    <body>
        {% if user.is_authenticated %}
            <div class="top-left-container">
                    <button class="top-left-button" onClick="window.location.href='/users/signup/'">
                        <h2>Post</h2>
                    </button>
            </div>
        {% endif %}

        <div class="top-container">
            <button class="top-button" onclick="window.location.href='/songs'">
                <h2>Home</h2>
            </button>
            <button class="top-button" onclick="window.location.href='/songs'">
                <h2>Songs</h2>
            </button>
            <button class="top-button" onclick="window.location.href='/songs/artists/'">
                <h2>Artists</h2>
            </button>
        </div>

        <div class="top-right-container">
            {% if user.is_authenticated %}
                <p>Welcome, <a class="username-decoration" href="{% url 'users:profile' user.id %}">{{ user.username }}</a></p>
            {% else %}
                <button class="top-right-button" onClick="window.location.href='/users/signup/'">
                    <h2>Sign Up</h2>
                </button>
                <button class="top-right-button" onClick="window.location.href='/users/login/'">
                    <h2>Login</h2>
                </button>
            {% endif %}
        </div>

        <h1>{{ artist }}</h1>

        {% if artist.image_url %}
                <img src="{{ artist.image_url }}" alt="{{ artist }}">
        {% else %}
                <p>No album cover available.</p>
        {% endif %}

        <ul>
            {% for song in artist.song_set.all %}
            <div class="artist-song">
                {% if song.album.image_url %}
                    <img src="{{ song.album.image_url }}" alt="{{ song.album.album_name }} album cover">
                {% else %}
                    <p>No album cover available.</p>
                {% endif %}
                <h2><a href="{% url 'songs:detail' song.id %}">{{ song.title }}</a></h2>
            </div>
            <br>
            {% endfor %}
        </ul>
    </body>