<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ artist }}</title>
    </head>

    <body>
        <div class="home-button">
            <a href="/songs">Home</a>
        </div>

        <h1>{{ artist }}</h1>
        <ul>
            {% for song in artist.song_set.all %}
            <div>
                <a href="{% url 'songs:detail' song.id %}">{{ song.title }}</a>
                <form action="{% url 'songs:vote' song.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Vote">
                </form>
            </div>
            <br>
            {% endfor %}
        </ul>
    </body>