{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>~Artists~</title>
        <link rel="stylesheet" href="{% static 'songs/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    </head>

    <body>

        {% if user.is_authenticated %}
            <div class="top-left-container">
                    <button class="top-left-button" onClick="window.location.href='/users/signup/'">
                        <h2>Post</h2>
                    </button>
            </div>
        {% endif %}

        <div class="top-container">
            <button class="top-button" onclick="window.location.href='/songs'">
                <h2>Home</h2>
            </button>
            <button class="top-button" onclick="window.location.href='/songs'">
                <h2>Songs</h2>
            </button>
            <button class="top-button" onclick="window.location.href='/songs/artists/'">
                <h2>Artists</h2>
            </button>
        </div>

        <div class="top-right-container">
            {% if user.is_authenticated %}
                <p>Welcome, <a class="username-decoration" href="{% url 'users:profile' user.id %}">{{ user.username }}</a></p>
            {% else %}
                <button class="top-right-button" onClick="window.location.href='/users/signup/'">
                    <h2>Sign Up</h2>
                </button>
                <button class="top-right-button" onClick="window.location.href='/users/login/'">
                    <h2>Login</h2>
                </button>
            {% endif %}
        </div>

        <div class="recent-artists">
            <h1>New Artists Recommended</h1>
                {% if latest_artist_list %}
                <ul>
                {% for artist in latest_artist_list %}
                    <h2><a href="{% url 'songs:artistdetail' artist.id %}">{{ artist.name }}</a></h2>
                {% endfor %}
                </ul>
            {% else %}
                <p>No songs are available.</p>
            {% endif %}
        </div>
    </body>